body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color:#CCDDDD;
  color: rgb(25, 25, 25);
}

.game-container {
  margin-top: 30px;
}

.doors {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.door {
  width: 150px;
  height: 200px;
  background-color: rgba(17, 15, 15, 0.645);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 250px;
  border: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 0px;
  border-radius: 15px;
}

.flipped {
  background-color: black;
}

.decision-buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #61dafb;
  color: black;
  border-radius: 5px;
}

button:hover {
  background-color: #21a1f1;
}

.result {
  margin-top: 20px;
  font-size: 24px;
}

.rules-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 70%;
  box-shadow: 2px 4px 8px gray;
  font-family: 'Courier New', Courier, monospace;
}

.close-btn {
  float: right;
  background: red;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.close-btn:hover {
  background: darkred;
}

@media (max-width: 800px) {
  .game-container {
    width: 95%;
  }

  h1 {
    font-size: 2rem;
  }

  .doors {
    flex-direction: row;
    align-items: center;
  }

  .door {
    width: 100px;
    height: 150px;
  }

  button {
    width: 90%;
  }

  .rules {
    width: 90%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .door {
    width: 90px;
    height: 130px;
  }

  button {
    font-size: 14px;
    padding: 10px 15px;
  }
}
